body {
    display: flex;
    justify-content: center;
}



ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.balls{
    padding-left: 1.5rem;
}

#nineBall{
    padding-right: 1.5rem;
}

.scores{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    text-align: center;
}